$entire-width: 100%;
$img: (
  'header': url('../images/header-bg.jpg'),
  'camping': url('../images/camping.jpg'),
  'hiking': url('../images/hiking.jpg'),
  'stars': url('../images/stars.jpg'),
  'testi': url('../images/testimonials-bg.jpg'),
  'wlr': url('../images/wave-large-reversed.png'),
  'wl': url('../images/wave-large.png'),
  'wmr': url('../images/wave-medium-reversed.png'),
  'wm': url('../images/wave-medium.png'),
  'ws': url('../images/wave-small.png'),
  'wsr':  url('../images/wave-small-reversed.png'),
);
$white: #fafafa;
$pink: #eb648c;
$pale: #d7d4ed;